@mixin card {
    margin: 10px;
    img {
        width: 100px;
        -webkit-user-drag: none;
        box-shadow: black 2px 2px 8px;

        
    }

    .hide-input{
        position: absolute;
        left: -9999px;
        // opacity: 0;
    }


    .defender{
        &:hover{
            transform: scale(1.1);  
            cursor: pointer;
        }
        &:active{
            scale: 0.9;
        }    }

    
}

.attack-cards-container {
    position: absolute;
    top: 40%;
    left: 31.5%;
    .attack-cards {
        form{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        .attack-card-defender {
            @include card();
            input[type="radio"]{
                &:checked + label{
                    img{
                    outline: black solid 6px;
                    }
                }
            }
        }
        .attack-card{
            @include card()
        }
        
    }
}
}
