.deck-count-container{
    position: fixed;
    top: 9.5%;
    left: 45.5%;
    z-index: 3249834;
    .deck-count{
        font-size: 28px;
        color: rgb(183, 183, 93);
        text-shadow: black 2px 2px 2px;
    }
}