.deck {
    position: absolute;
    top: 12%;
    left: 45%;
    .kozar {
        position: relative;
        left: 60%;
        z-index: 0;
        .card {
            transform: rotate(90deg);
            height: 130px;
            -webkit-user-drag: none;
            box-shadow: black 1px 1px 8px;
        }
    }
    .card-stack {
        .card1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            
            
        }
        .card2 {
            position: absolute;
            top: 2%;
            left: 5%;
            z-index: 2;
        }
        .card3 {
            position: absolute;
            top: 4%;
            left: 10%;
            z-index: 3;
        }
        .card4 {
            position: absolute;
            top: 6%;
            left: 15%;
            z-index: 4;
        }
    }
    .card {
        height: 110px;
        -webkit-user-drag: none;
    }
}
