@mixin status {
    position: absolute;
    top: 42%;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    width: 50px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    img {
        position: relative;
        height: 40px;
        width: 40px;
        -webkit-user-drag: none;
    }
}
}

@mixin opponent-ready {
    display: flex;
        justify-content: center;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85px;
            height: 50px;
            outline: black solid 2px;
            border-radius: 10px;
            margin-bottom: 5px;
            h2{
                text-align: center;
            }
        }
}

@mixin opponent {
    position: absolute;
    z-index: 20;
    background-color: rgba(128, 128, 128, 0.458);
    border-radius: 10px;
    width: 235px;
    box-shadow: 0px 0px 5px rgb(42, 42, 42);

    .player-name {
        h3 {
            margin-top: 5px;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .pic {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100px;
            margin: 5px;
            -webkit-user-drag: none;
        }
        .status-attack {
            background-color: rgba(147, 67, 67, 0.5);
            @include status();
        }
        .status-defend {
            background-color: rgba(76, 194, 76, 0.5);
            @include status();
        }
        // .status-support {
        //     background-color: rgba(255, 255, 0, 0.5);
        //     @include status();
        // }
    }

    .opponent-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        .opponent-card {
            img {
                height: 50px;
                margin-left: 2px;
                margin-right: 2px;
                -webkit-user-drag: none;
            }
        }
    }

    .opponent-ready-status {
        @include opponent-ready();
        div{
            background-color: green;
        }
    }
    .opponent-notready-status{
        @include opponent-ready();
        div{
            background-color: red;
            height: 70px
        }
    }
}

.opponent4{
    @include opponent();
    top:32%;
    left: calc(76% - 117.5px)
}

.opponent3{
    @include opponent();
    top: 4%;
    left: calc(67% - 117.5px);
}

.opponent2{
    @include opponent();
    top: 4%;
    left: calc(33% - 117.5px);
}

.opponent1{
    @include opponent();
    top: 32%;
    left: calc(24% - 117.5px);
}



