@mixin status {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    width: 60px;

    img {
        height: 50px;
        width: 50px;
    }
}

.opponent {
    position: absolute;
    top: 10%;
    left: 67%;
    z-index: 20;
    background-color: rgba(128, 128, 128, 0.458);
    border-radius: 10px;
    width: fit-content;

    .pic {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100px;
            margin: 5px;
        }
        .status-attack {
            background-color: rgba(147, 67, 67, 0.5);
            @include status();
        }
        .status-defend{
            background-color: rgba(76, 194, 76, 0.5);
            @include status()
        }
        .status-support{
            background-color: rgba(255, 255, 0, 0.5);
            @include status()
        }
    }

    .opponent-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        .opponent-card {
            img {
                height: 50px;
                margin-left: 2px;
                margin-right: 2px;
            }
        }
    }
}
