@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    @include center();
    height: 700px;
    .table {
        background-color: #355f48;
        width: 900px;
        height: 550px;
        border-radius: 400px;
        @include center();
        border: rgb(255, 255, 255) solid 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.403);
       
        
    }
    
}
