.headline{
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        font-size: 50px;
    }
    h2{
        color: white;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        width: 200px;
        height: 70px;
        outline: black solid 4px;
        background-color: white;
        // text-align: center;
        align-items: center;
        justify-content: center;
        margin: 15px;
        &:hover{
            scale: 1.1;
            cursor: pointer;
        }
        h3{
            color: black;
            user-select: none;
            text-decoration: none;
        }
        
    }
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }