@mixin align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup {
    z-index: 100;
    position: fixed;
    top: 29%;
    left: calc(50% - 400px);
    height: 450px;
    width: 800px;
    background-color: white;
    outline: black solid 4px;
    .title {
        margin-top: 10px;
        @include align();
        h2 {
            font-size: 20px;
            margin: 10px;
        }
    }
    .form-container {
        @include align();
        margin-top: 60px;
        form {
            @include align();
            input{
                width: 350px;
                height: 40px;
                text-align: center;
                font-size: 25px;
                font-weight: 600;
                outline: black solid 4px;
            }
            .btn{
                margin: 10px;
                width: 120px;
                height: 40px;
                outline: black solid 4px;
                background-color: white;
            }
        }
        .close-window {
            transform: scaleY(-1);
            position: absolute;
            top: 2%;
            left: 1%;
            outline: black solid 3px;
            img {
                height: 70px;
            }
            &:hover {
                transform: scaleY(-1.1) scaleX(1.1);
                cursor: pointer;
            }
        }
    }
}
